<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>eFlight Scheduling - Flights</title>
</head>
<body>
     <div layout:fragment="content" style="padding-top:1em;" class="container">
        <div>
            <span style="font-size: 2em; color: #32a5e7;">List of All Flights</span>
            <span style="float:right;">
                <a class="btn btn-outline-success btn-lg" href="/eflight/flights/new">Add a New Flight</a>
            </span>
        </div>

        <p>&nbsp;</p>
        <div style="font-size: 1em">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Airline</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight,iterStat : ${flights}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${flight.airline}"></td>
                    <td th:text="${flight.description}"></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

    <th:block layout:fragment="footer"></th:block>

</body>
</html>